<div class="main-section">
  <div
    class="header h-15 flex items-center justify-between px-4 border-b border-base-300"
  >
    <div class="text-4xl">Import Games</div>
  </div>
  @if(_libraryService.hasCurrentDirectory$ | async) {
  <div class="p-4 flex flex-col space-y-4">
    <div class="pt-4 flex justify-start">
      <span class="pr-4 text-sm font-semibold flex flex-col justify-center"
        >Choose the type of gamefile you're trying to import:</span
      >
      <div>
        <input
          type="radio"
          disabled="true"
          name="radio-gametype"
          class="radio radio-primary"
          (value)="(isGameCd)"
          [disabled]="_libraryService.loading$ | async"
          (change)="isGameCd = true; isGameDvd = false"
        />
        <span class="pl-2 pr-8">.bin/.cue</span>
        <input
          type="radio"
          name="radio-gametype"
          class="radio radio-primary"
          checked="true"
          [disabled]="_libraryService.loading$ | async"
          (value)="(isGameDvd)"
          (change)="isGameCd = false; isGameDvd = true"
        /><span class="pl-2 pr-8">.iso</span>
      </div>
    </div>
    <div>
      <span class="pr-4 text-sm font-semibold flex flex-col justify-center"
        >Select the gamefile to import ({{
          isGameCd ? "point to the .cue file" : ".iso"
        }}):</span
      >
      <button
        class="btn btn-primary"
        (click)="askForGameFile()"
        [disabled]="_libraryService.loading$ | async"
      >
        Select Gamefile
      </button>
    </div>
    <div class="pt-8 flex">
      <fieldset class="fieldset mr-4 w-50">
        <legend class="fieldset-legend">GameID</legend>
        <input
          type="text"
          class="input"
          [disabled]="autoDiscoveredFile"
          [value]="gameId"
        />
      </fieldset>
      <fieldset class="fieldset w-90">
        <legend class="fieldset-legend">Game Name</legend>
        <input
          type="text"
          class="input"
          [disabled]="autoDiscoveredFile"
          [value]="gameName"
        />
      </fieldset>
      <fieldset class="fieldset ml-4 flex-1">
        <legend class="fieldset-legend">Download Artwork</legend>
        <input
          type="checkbox"
          [disabled]="_libraryService.loading$ | async"
          checked="checked"
          class="toggle"
          [value]="downloadArtwork"
        />
      </fieldset>
    </div>
    <div
      *ngIf="invalidFileDiscovered"
      class="p-4 bg-yellow-100 border border-yellow-300 text-yellow-800 rounded-md"
    >
      <i-lucide
        name="alert-triangle"
        size="16"
        class="inline-block mr-2"
      ></i-lucide>
      <span class="text-sm"
        >The selected file appears to be invalid. Please double-check the file
        and try again.</span
      >
    </div>
    <div>
      <button
        class="btn btn-success"
        (click)="startAutoImportAttempt()"
        [disabled]="
          !gamePath ||
          gamePath.length === 0 ||
          !gameId ||
          gameId.length === 0 ||
          !gameName ||
          gameName.length === 0 ||
          (_libraryService.loading$ | async)
        "
      >
        Start Import
      </button>
    </div>
  </div>
  } @else {
  <div class="p-4">
    <span class="text-sm text-gray-600"
      >Please mount a library directory before attempting to import games.</span
    >
  </div>
  }
</div>
