@use "@angular/material" as mat;
@import "@angular/material/prebuilt-themes/magenta-violet.css";

html,
body {
  height: 100%;
}

html {
  color-scheme: light;
  @include mat.theme(
    (
      color: mat.$violet-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
