.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .router-window {
    flex: 1;
    overflow: auto;
  }

  .footer {
    height: 60px;
    background-color: #f1f1f1;
    border-top: 1px solid #ccc;
    display: flex;
    flex-direction: column;

    .loading {
      height: 4px;
    }

    .content {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: start;
      font-size: 14px;
    }
  }
}
